[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.1.x.cfg
package-name = collective.galleria

extensions=mr.developer
auto-checkout=*
[sources]
#collective.configviews = git git@github.com:collective/collective.configviews.git
#collective.gallery = git git@github.com:collective/collective.gallery.git
#collective.js.galleria = git git@github.com:collective/collective.js.galleria.git
